@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-900 to-gray-600 bg-gradient-to-r;
    @apply text-gray-300 h-screen w-full; 
}

.metal-gradient{
    @apply bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-900 to-gray-600 bg-gradient-to-r;
}
